
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}

.notebook-cell.original-markdown {
    border: solid 1px #dddddd;
    padding: 0 0.5em 0 0.5em;
    margin: 0.5em 0 0.5em 0;
}

.notebook-cell.score-cell {
    border: solid 1px rgb(155, 155, 0);
    padding: 0 0.5em 0 0.5em;
    margin: 0.5em 0 0.5em 0;
}

.notebook-cell.grading-comment {
    border: solid 1px rgb(155, 155, 0);
    padding: 0 0.5em 0 0.5em;
    margin: 0.5em 0 0.5em 0;
}

.notebook-cell.code-and-output {
    border: solid 2px #888888;
    padding: 0 0.5em 0 0.5em;
    margin: 0.5em 0 0.5em 0;
}

.focused {
    border: 2px dashed black !important;
}

.cell-zero {
    width: 100%;
    height: 2px;
}

.grading-comment {
    background-color: rgba(255, 255, 0, 0.2);
}

.score-cell {
    background-color: rgba(255, 255, 0, 0.2);
}

.cell-output {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5em;
}

.good-score {
    background-color: rgba(0, 255, 0, 0.5);
    color: rgb(0, 150, 0);
    padding: 0.25em;
}

.bad-score {
    background-color: rgba(255, 0, 0, 0.5);
    color: rgb(150, 0, 0);
    padding: 0.25em;
}
